* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;

  background: #4a4ade;


  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 100vh;
}


header {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}


.pet-image-container {
  float: none;
  padding: 10px;
}

.pet-image {
  height: 250px;
  border-radius: 15px;
}


.dashboard {
  padding: 20px;
  float: none;
}


.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.button-container button {
  width: 100px;
  font-size: 15px;
  background-color: #1e2835;
  border-color: #404853;
  cursor: pointer;
  background-image: linear-gradient(to bottom,
      rgba(246, 246, 246, .1) 0%,
      rgba(30, 40, 53, 0) 66%);
  color: #fafafa;
  margin-bottom: 10px;
  border-radius: 8px;
}


.temp-comment {
  background: #222;
  color: #fff;
  padding: 8px 12px;
  border-radius: 10px;
  margin-top: 20px;
}